{% extends 'base.html' %}
{% block content %}
<h2>SSO Records</h2>
<table class="table table-striped">
    <tr>
        <th>Product Name</th>
        <th>Manager</th>
        <th>Auditor</th>
        <th>Decommissioned</th>
        <th>SSO Implemented</th>
        <th>SSO Date</th>
    </tr>
    {% for record in sso_records %}
    <tr>
        <td>{{ record.product.product }}</td>
        <td>{{ record.product.manager }}</td>
        <td>{{ record.product.auditor }}</td>
        <td>{{ record.product.decommissioned }}</td>
        <td>{{ record.sso_implemented }}</td>
        <td>{{ record.sso_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
